*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
}

html{
  scroll-behavior: smooth;
}

nav{
  height: 50px;
  position: fixed;
  text-align: left;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 25px;
}

ul li {
  display: inline-block;
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  vertical-align: middle;
}

a{
  list-style: none;
  text-decoration: none;
  padding-top: 30px;
}


.circle:hover{
  box-shadow: 2px 2px 2px;
  border-radius: 50%;
  cursor: pointer;
}

.shoe{
  height: 100vh;
  width: 100%;
  position: relative;
}

.box{
margin: 0 auto;
width: 65%;
margin: auto;
max-width: 800px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.txt{
  font-size: 50px;
  text-align: center;
}

#shoe1{
  background-color: rgb(244, 67, 54);
  color: rgb(255, 235, 59);
}

#shoe2{
  background-color: rgb(76, 175, 80);
  color: rgb(255, 235, 59);
}

#shoe3{
  background-color: rgb(255, 235, 59);
  color: rgb(76, 175, 80);
}